<div>
    <div>
        <button type="button" class="btn btn-danger pull-right" onclick="location.href='/Candidate/Create/4?failed=False'">@Html.ActionLink("Apply", "Applicants", "Careers")</button>
        <a href="/Careers/Applicants">Link to apply</a>
        @Html.ActionLink("Another link to apply","Applicants")
    </div>
    <h2 class="text-center">Instructor</h2>
    <dl class="dl-horizontal">
        <dt>
            Description
        </dt>

        <dd>
            <p>We are in search of enthusiastic coders/instructors with a&nbsp;current working knowledge of at least one topic for courses being taught (See qualifications below to see the skillset needed for each topic).&nbsp;</p>
            <p>Working hours vary depending on which topic you teach, but in general it's in the evening or on the weekend job; approximately 10-20 hours per week.&nbsp;</p>
            <p>Wage: $50/hour + ($0-$25)/hours based on students' evaluation after your topic is taught, wage increase and satisfaction matrix is as follows:</p>
            <div align="center">
                <table border="1" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>
                                <p>Satisfaction</p>
                            </td>
                            <td>
                                <p>Wage Increase</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>0-75%</p>
                            </td>
                            <td>
                                <p>$0</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>75.01%-80%</p>
                            </td>
                            <td>
                                <p>$5</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>80.01%-85%</p>
                            </td>
                            <td>
                                <p>$10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>85.01%-90%</p>
                            </td>
                            <td>
                                <p>$15</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>90.01%-95%</p>
                            </td>
                            <td>
                                <p>$20</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>95.01%-100%</p>
                            </td>
                            <td>
                                <p>$25</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>

        <dt>
            Responsibilities
        </dt>

        <dd>
            <div class="page" title="Page 1">
                <div class="section">
                    <div class="layoutArea">
                        <div class="column">
                            <p>We provide you with the following:</p>
                            <ul>
                                <li>Syllabi</li>
                                <li>Textbooks and other teaching resources</li>
                                <li>Assignment design guideline</li>
                                <li>Class session design guideline</li>
                            </ul>
                            <p>Your responsibilities include:</p>
                            <ul>
                                <li>Prepare your personal slides based on textbooks and resources we provided</li>
                                <li>Prepare class sessions and assignments that meet our session and assignment standards</li>
                                <li>Create a learning environment that encourages student involvement and participation</li>
                                <li>Provide a minimum of 10 hours for the topic you are assigned to (classes cancelled for illness or any other reason must be made up)</li>
                                <li>Document students’ attendance, participation, and academic progress by giving and grading assignments, projects, quizzes and/or examinations that lead to a final grade (All of them can be done within our online teaching system)</li>
                                <li>Maintain a healthy, secure and safe classroom environment</li>
                                <li>Participate in scheduled faculty meetings</li>
                                <li>Generate teaching report weekly</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </dd>

        <dt>
            Qualifications
        </dt>

        <dd>
            <div class="page" title="Page 3">
                <div class="section">
                    <div class="layoutArea">
                        <div class="column">
                            <p>We value abilities more than degrees. Abilities are abilities; degree card doesn't work for our company! For example, if you don't have a degree in Computer Science or no degree at all but you do have the same skills (specified below) as a Computer Science graduate from Stanford University, we value both of you at least the same, if not same, we probably will value you more because you don't have Stanford study environment, but you get to the same point as a Stanford graduate.&nbsp;</p>
                            <p>So as long as you meet the following three requirements, go ahead and apply!</p>
                            <ol>
                                <li>(Most important) Be able to explain technical concepts clearly with good communication skills and patience</li>
                                <li>Fast learning ability</li>
                                <li>One of the following skillset</li>
                            </ol>
                            <ul>
                                <ul>
                                    <li>Language Skills: C#, Java or PHP (Programming logics, OOD, Debugging, File handling, Exception Handling, etc)</li>
                                    <li>Database Skills: MySql or MS SQL Server (Tables, Store Procedures, Views, write and execute SQL queries in programming languages like C#, Jave, PHP, etc)</li>
                                    <li>Client-Side Skills: HTML, CSS, Bootstrap, Javascript, jQuery, Ajax</li>
                                    <li>Server-Side Skills: ASP.Net MVC or PHP (MVC concept, previous projects experience)</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
    <div>
        <button type="button" class="btn btn-danger pull-right" onclick="location.href='/Candidate/Create/4?failed=False'">@Html.ActionLink("Apply", "Applicants", "Careers")</button>
    </div>
    <hr style="height:2px;border:none;color:#0070C0;background-color:#0070C0;">
</div>

